.btn-icon{
  font-size: 10px;
  
  font-weight: bold;
}
.btn-icon p {
  padding: 12px 37px;
  line-height: 16,41px;
  background-color: #00285F;
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
}