.home-container{
  display: flex;
  flex-direction: column;
  font-size: 22px;
  padding: 10px;
  background-color: #FFFFFF;
  color: #FFFFFF;
  text-align: center;
}

.home-container p {
  font-size: 11px;
  padding: 10px 51px 29px;
  line-height: 16,41px;
  
}

.home-card{
  display: flex;
  flex-direction: column-reverse;
  background: #00285F;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.home-content-container h1{
  font-size: 1em;

}
.home-image-container{
  padding: 62px 28px 35px;
}
.home-image-container svg{
  width: 100%;
}


.btn-content-container{
  display: flex;
  flex-direction: column;
  padding: 28px 63px;
  background-color: #EDEDED;;
  border-radius: 10px;
  margin: 10px ;
  font-size: 14px;
}
.btn-content-container p{
  line-height: 21,09px;
  text-align: center;
  margin: 5px ;
}


@media ( min-width: 576px){

  .home-content-container h1 {
    font-size: 1.5em;
}
  .home-container p {
    font-size: 1em;
  }

  
  .btn-content-container{
    padding-left: 100px ;
    flex-direction: unset;
    font-size: 1.01em;
  }
  
  
  .home-image-container{
    padding: 50px;
  }
  
}

@media ( min-width: 768px){

  .home-content-container {
    font-size: 1.01em;
  }

  .home-content-container p{
    padding: 10px 90px 29px;
  }
  .home-image-container{
    padding: 20px 190px;
  }

}
